body {
    background-color: #f8f8f8;
}

header {
    display: inline-block;
    width: 800px;
    background-color: aqua;
    margin-left: calc(50% - 400px);
}

main{
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color: pink;
}
